[2015-09-14 14:24] jacobrosenthal opened #1 "no initial stateChange"
The existing bindings seem to just happen to catch the initial statechange, but with all the react setup that  event is lost before we're all set up to catch it.

Currently I'm not waiting for a stateChange event, Im just scanning as soon as the app opens.

[2015-09-14 14:27] jacobrosenthal opened #2 "React Native Packager - Module replacement?"
Im not sure how/if module replacement is supposed to work in react packager. Or maybe we need to look into https://github.com/mjohnston/react-native-webpack-server ?

For now Im (sadly) editing files manually
[code]

But its a deep rabbit hole. The eddystone-url-encoding module does a json require without specifying the extension which the react native packager doesnt seem to support
[code]

[2015-09-25 11:05] TrySpace opened #3 "Tracking Android support"
I see this doesn't support Android yet, Are there any plans to make it cross-platform?

Perhaps existing code from: https://github.com/don/BluetoothSerial can be used (cordova plugin) Or the less crossplatformy: https://github.com/randdusing/BluetoothLE

[2015-10-01 10:09] jacobrosenthal commented on #2
Im not sure why, but utilizing the react-native-webpack-server's example this works properly, but not when with a react native generated template and following their readme. Tracking here https://github.com/mjohnston/react-native-webpack-server/issues/75

[2015-10-01 10:09] jacobrosenthal commented on #3
not from me

[2015-10-01 11:33] jacobrosenthal commented on #1
For more background, I can request state in an noblebindings.init, but it arrives before the component is created..

[code]

[2015-10-03 16:30] sandeepmistry commented on #1
@jacobrosenthal I've removed the bindings self "init"ing themselves pattern from noble and bleno. Now ``init`` gets called externally in the Noble or Bleno constructor:
 * https://github.com/sandeepmistry/noble/commit/8a47c9f24520bfac11f71b577dd23c0a1ae2b669
 * https://github.com/sandeepmistry/bleno/commit/918e8d6b0047995cb56a69964d1cbefc2435d4e1

[2015-10-03 16:38] jacobrosenthal commented on #1
Ill give it a shot today!

On Sat, Oct 3, 2015 at 6:30 PM, Sandeep Mistry <notifications@github.com>
wrote:

[2015-10-03 21:46] jacobrosenthal commented on #1
Fixed in v0.0.5 Thanks!

[2015-10-21 08:42] NishanthShankar commented on #3
You can have a look at https://github.com/axemclion/react-native-cordova-plugin to integrate cordova pugins with react-native android

[2015-12-14 17:16] export-mike opened #4 "Tracking connect, services, characteristics, reads and writes"
Hi,

I'm currently considering a react native ble plugin, may even port the existing ble central plugin from cordova (we're moving from cordova -> react-native), as that's what we're currently using. Then I've found this library, it would be cool if we could port the cordova implementation and apply it to the same noble-style interface and have it working with react-native.

So I'm just interested

[2015-12-14 20:37] jacobrosenthal commented on #4
Yep, noble abstraction is way to go, as for cordova, theres really nothing to port from thin abstractions like this sadly.

No good reason, I just havent needed any more than this for my work yet. PRs welcome

[2016-01-22 05:34] marcboehret opened #6 "jsSchedulingOverhead warnings fills up the display"
Hi Jacob,

when using your code, i suffer from this problem https://github.com/facebook/react-native/issues/1598

[2016-02-28 18:15] jacobrosenthal commented on #2
react-native-webpack-server seems poorly supported now, and react is holding steadfast on their packager.
Ive killed the react-native-webpack-server in the example for now, which means no aliasing again.
https://github.com/facebook/react-native/issues/5917 and https://productpains.com/post/react-native/packager-support-resolvealias-ala-webpack/ need your upvotes.

[2016-02-28 18:25] jacobrosenthal commented on #1
This is back again since I upgraded rn
https://github.com/jacobrosenthal/react-native-ble/blob/master/examples/BabelES6/index.ios.js#L18

[2016-02-28 18:30] jacobrosenthal opened #8 "Background Restoration"
When we last left our heroes, the big missing functionality was being awoken from sleep and restoring bluetooth. From my react native issue: https://github.com/facebook/react-native/issues/1660

I saw this while skimming code around this issue, could we do this:
https://github.com/facebook/react-native/blob/d5209a082976d272e6e897c41fb6f98feda84081/Examples/UIExplorer/UIExplorer/AppDelegate.m#L29

[2016-03-07 21:34] niftylettuce commented on #3
+1

[2016-03-09 21:38] niftylettuce commented on #3
@NishanthShankar Do you know how to get it to work with RN 0.18+?  See https://github.com/axemclion/react-native-cordova-plugin/issues/14 when I try to use it in combination with https://github.com/randdusing/cordova-plugin-bluetoothle

[2016-03-09 21:59] niftylettuce opened #9 "Readme unclear"
What does this mean:

[2016-03-09 22:58] jacobrosenthal commented on #9
no connecting to bluetooth devices

On Wed, Mar 9, 2016 at 4:59 PM, niftylettuce <notifications@github.com>
wrote:

[2016-03-23 17:58] theonlyjames commented on #9
So, to be clear, there is no connecting to bluetooth devices? This only supports scanning for ble devices?

[2016-04-07 07:30] Shakarang commented on #9
@theonlyjames yes

[2016-04-16 04:48] rclai commented on #4
As some of you might know, I have been doing a lot of work to add the extra functionality on my fork, `updates` branch. I am not ready to submit a PR, but I am actively working on it since I am currently using it on this big project that involves using BLE. I expect to have the rest of the functionality completely done and conforming to the noble API more or less in the coming weeks.

[2016-04-19 06:42] export-mike commented on #4
This is exciting! sadly the projectim on still hasn't moved to react native.

[2016-04-19 06:48] jacobrosenthal commented on #4
@rclai Good job man. I still havent gotten around to getting back to this project or looking at your code. A big goal of mine is keeping the noble files as untouched as possible and pushing any needed changes upstream to @sandeepmistry eventually deduping them in our repo or merging into his domain. Whatever works.

[2016-04-21 20:57] joelwass commented on #4
@rclai I don't see an updates branch in your fork, could you link us?

[2016-04-22 04:08] rclai commented on #4
You're looking at the wrong fork. It's [here](https://github.com/Profab/react-native-ble/tree/updates).

[2016-04-22 15:20] Shakarang commented on #3
@TrySpace I'm building the Android support on my fork of the repo. I've continued iOS development to read characteristics valued and it will be the same for Android

[2016-04-25 00:45] rclai commented on #4
I managed to get rid of all the copies of Noble files and directly depend on the `noble` NPM package itself. You can check it out [here](https://github.com/Profab/react-native-ble/tree/no-noble-copies). Right now if you test it you'll get a `binding` variable not found error, but that has been [fixed](https://github.com/sandeepmistry/noble/commit/38c55008c215d913cf8f5324e673951da96ffc79), we just

[2016-04-25 00:58] sandeepmistry commented on #4
@rclai noble v1.5.0 has been published with your fix :)

[2016-04-25 16:32] rclai commented on #4
Thanks.

[2016-04-26 15:21] rclai commented on #3
@Shakarang, would you like to collaborate together to get our changes to this repo? I noticed you've done a lot on the Android side. I've dealt mostly on the iOS side and was able to remove a lot of the noble code and just directly depend on the `noble` library.

[2016-04-26 16:11] Shakarang commented on #3
@rclai I'll be really pleased to collaborate with you. Where did you code it? I can't find it in any branch..

[2016-04-26 18:29] rclai commented on #3
It's here https://github.com/Profab/react-native-ble/tree/updates

[2016-04-27 21:51] jacobrosenthal commented on #4
@rclai just made a huge pr with what looks like all this. I published as 1.0.0 beta1 while I look at it myself.
Check it out everyone and give any feedback here
npm install react-native-ble@1.0.0-beta1

[2016-04-27 22:16] jacobrosenthal commented on #4
Looks like you just npm install react-native-ble@1.0.0 actually

[2016-04-27 22:27] jacobrosenthal commented on #4
@rclai Im still losing the initial getState in order to use the typical noble pattern of only scanning once we get a poweredOn state. Are you catching it with current code? Care to share a gist of your index.ios.js?

[2016-04-27 22:55] rclai commented on #4
I know that the BlueTooth state gets lost sometimes, but in my experience it's not all the time. In an effort to make it more reliable, I moved the `setup` code into the `init` function, which I believe is a more appropriate and reliable place to put and we should be guaranteed to have an initial BlueTooth state. Try it now.

[2016-04-27 23:07] rclai commented on #4
Here's my test gist: https://gist.github.com/rclai/104ffcd953ecfe6bad18b21fc0536f1b

[2016-04-27 23:11] rclai commented on #4
Why does NPM still show the library as 0.0.7? https://www.npmjs.com/package/react-native-ble

[2016-04-27 23:38] rclai commented on #4
FYI, I just rebased my PR and organized my commits in a more comprehensive way. Thankfully using `git rebase -i` was a very nice, intuitive learning process that wasn't painful.

[2016-04-28 00:17] jacobrosenthal commented on #4
Its a beta release, you have to ask for it by name to get it. I THOUGHT you had to ask with the beta version but apparently not?

[2016-04-28 00:48] rclai commented on #4
Oh okay. So were you able to test my new change with the Bluetooth state?

[2016-04-28 02:13] jacobrosenthal commented on #4
Ive was fighting NPM. Your new code is released as
npm i react-native-ble@1.0.3-beta1

Im not sure what changed as it was overwritten, but note in you're not using the typical noble pattern of waiting for a state event, you're forcing it by checking the noble.state and scanning based on that --  because were still losing the state
https://gist.github.com/rclai/104ffcd953ecfe6bad18b21fc0536f1b#file

[2016-04-28 02:25] jacobrosenthal commented on #2
This was solved (I dont know what release) by using the default packager and the browser field in package.json
[code]

[2016-04-28 02:50] rclai commented on #4
There's no way of guaranteeing that the Bluetooth state is `poweredOn` even though my iPhone says that Bluetooth is on, that's why I'm doing that. I check the state on the `init` function in order to always have the state, especially during Live Reload mode.

[2016-04-28 03:03] jacobrosenthal commented on #4
Agreed. Thats why the noble pattern is to just wait until you get that
first onstatechange event
Heres my patched branch, this hack is what will have to do.
https://github.com/jacobrosenthal/react-native-ble/blob/1.0.3/bindings.ios.js#L137

I also pulled out the peripheral stuff. We should start a
react-native-bleno for that in order to stay true to node

On Wed, Apr 27, 2016 at 10:50 PM, Richard

[2016-04-28 03:04] rclai commented on #4
Oh yeah, I was about to take out the peripheral stuff after noticing that since I'm depending on `noble`, that stuff was going to break.

[2016-04-28 03:14] rclai commented on #4
Okay I updated my PR and the peripheral stuff is no longer there.

[2016-04-28 03:19] rclai commented on #4
Is it necessary to put a `setTimeout` to `getState`? I think the issue of the state being `unknown` may still arise.

[2016-04-28 03:41] jacobrosenthal commented on #4
Were trying to be like noble, and I dont believe noble guarantees has a known state on startup. It asks you to wait for an onchange event. Our problem has been were always missing that event, hence my final terrible hack.

You dont have to update, Ill used my patched fork, itll maintain all your authorship.

[2016-04-28 04:24] jacobrosenthal commented on #2
Current packager only alias's one level deep it would seem. So we can use var noble = require('noble') in our main file, but if we var Bean = require('ble-bean'); which does its own noble require, it fails out because its trying to us actual noble :(

[2016-04-28 04:28] jacobrosenthal commented on #2
Here is the current issue that is asking for global aliasing. Please bump

[2016-04-28 12:11] rclai commented on #4
Cool, I see you update your example. Did it all work?

[2016-04-28 18:36] jacobrosenthal commented on #4
Yep. Havent used it super thoroughly but looks good. Nobody else tested
anything yet?

On Thu, Apr 28, 2016 at 8:11 AM, Richard Lai <notifications@github.com>
wrote:

[2016-04-30 20:19] jacobrosenthal commented on #4
Well with no other feedback the few tests Ive run work well. Good job and thanks @rclai . Published it as 1.0.3 (.3 because of my previous fighting with npm--dont ask)

[2016-04-30 20:19] #4 closed

[2016-04-30 20:21] #9 closed

[2016-04-30 20:23] jacobrosenthal commented on #1
Using a super shitty hack to fix this for the moment.
https://github.com/jacobrosenthal/react-native-ble/commit/e96a34fa9730a86dbf0c4a359fc5e0fb384ddf24

Better ideas accepted

[2016-05-01 01:20] jacobrosenthal commented on #8
Backgrounding seems to be working now? I need better methods of simulating memory pressure as I so far have been unable to kill the app due to memory pressure to see how we handle being rewoken. We also need to follow the [CoreBluetooth Guide](https://developer.apple.com/library/ios/documentation/NetworkingInternetWeb/Conceptual/CoreBluetooth_concepts/CoreBluetoothBackgroundProcessingForIOSApps/Pe

[2016-05-01 01:27] jacobrosenthal commented on #6
I presume this was fixed when that was. Please reopen with more info otherwise. Thanks.

[2016-05-01 01:27] #6 closed

[2016-05-01 01:29] jacobrosenthal commented on #3
@Shakarang let us know if you get something that can be PR'ed

[2016-05-01 16:45] Shakarang commented on #3
@jacobrosenthal Yep but currently I have no time with my work and school..

[2016-05-01 18:33] rclai commented on #3
@Shakarang would you mind if I pick up from where you left off with the Android implementation?

[2016-05-01 23:09] rclai commented on #1
We may need to consider the case that in a mobile app, even though there is Bluetooth functionality, you may never use it unless you hit a particular scene via the `Navigator` component. You may hit a scene where you want to search for stuff, and then all of a sudden cancel out of it, and then later on want to go back to it again. If I'm not mistaken, the current `noble` pattern seems to indicate

[2016-05-02 00:15] jacobrosenthal commented on #1
I dont think it should be needed. noble.state is updated as the os emits the state changes.

[2016-05-02 00:22] rclai commented on #1
I thought you didn't want to depend on that state property to start Bluetooth operations.

[2016-05-02 00:59] jacobrosenthal commented on #1
Were talking about 2 separate issues. A lot of existing code just waits for
a state change to do anything. We were always losing this initial state
change, and I wanted to support that existing code out of the box.

Secondly, yes you may check and or poll noble.state if you like.

On Sun, May 1, 2016 at 8:22 PM, Richard Lai <notifications@github.com>
wrote:

[2016-05-03 07:31] Shakarang commented on #3
@rclai Hey ! You can do it if you want. I will work on it on Saturday morning too.

[2016-05-18 10:36] Shakarang commented on #3
@rclai Can you contact me on my email address please? It will be easier to exchange together.
It's maxime.junger@epitech.eu

[2016-05-18 15:05] rclai commented on #3
Sure. I've been pretty busy lately so I don't know how much time I'll have to work on this, I'll let you know.

[2016-05-25 20:51] jacobrosenthal commented on #3
Can you guys check out @Shakarang's PR?
https://github.com/jacobrosenthal/react-native-ble/pull/11

[2016-05-30 13:03] Grandiz opened #12 "Illegal invocation"
if i call noble.on('stateChange', console.log); i will get an error

Illegal invocation
Noble.EventEmitter.emit
events.js @77:0

here is full code. could anyone help?
[code]

[2016-06-06 13:52] Shakarang commented on #12
It's norman, you should give a handler. What you can do is
``
noble.on('stateChange', function(state) {
});
``

[2016-06-07 14:28] eriihine commented on #3
There's also following fork of react-native-ble for Android:
 - https://github.com/eriihine/react-native-ble/tree/android

Most of the functionality is there (although not all) and it is still work in progress.

This one uses the newer Android BLE API (API level 21 and up only). It also uses ScanRecord to parse scan result in more detail.

Just thought to mention this as well, in case some one is

[2016-06-07 15:59] eriihine commented on #3
I probably will be working on the above android fork still on June and in August (bug fixes and remaining missing features). The target is to have it more or less ready at the end of august.

Would be happy to contribute this as well if needed.

[2016-06-07 18:14] jacobrosenthal commented on #3
@eriihine Thanks for posting, Ill check yours out as well when I get a chance.

[2016-06-14 12:30] jsdario opened #13 "Is it possible to use it with the simulator?"
Hi, sorry for the beginner question, but I am struggling to find examples.
Do you use any simulator to develop with react-native? I am getting "unsupported" state while using iOS simulator within OSX.

Hope it is my bad!

[2016-06-14 13:32] rclai commented on #13
No Apple, doesn't let you unfortunately. Not even with Bluetooth dongles.

[2016-06-14 13:42] DavoCg commented on #12
but console.log is a handler !

[2016-06-14 13:50] jsdario commented on #13
Thanks for the reply. Any advice or tip on how you debug it on Android and iOS?
Do you run it directly on a device?

[2016-06-14 18:59] rclai commented on #13
Yes, you must run it on a device.

[2016-06-14 19:05] jacobrosenthal commented on #13
One tip is to write your app logic on your laptop with noble, and when you're happy with it finally test it on the phone which is obviously a much more arduous process.

[2016-06-25 19:02] jacobrosenthal commented on #3
Any android people want to check these out. We have 2 competing options apparently
* @eriihine https://github.com/eriihine/react-native-ble/tree/android
* @Shakarang https://github.com/jacobrosenthal/react-native-ble/pull/11

Can we turn them into separate bindings and load the appropriate one based on a version check?

[2016-07-04 12:06] ferologics commented on #3
@jacobrosenthal isn't https://github.com/eriihine/react-native-ble/tree/combined the latest version? I'm thinking of testing it

[2016-07-04 21:13] jacobrosenthal commented on #3
@eriihine could clarify

[2016-07-05 09:10] eriihine commented on #3
@ferologics You should checkout the android branch:
https://github.com/eriihine/react-native-ble/tree/android

The combined branch contains one minor tweak for iOS + android changes (ble.write event is sent out when writing to characteristic using withoutResponse attribute i.e. no response is needed from BLE but the event is send out in immediately after the write request has been processed). The

[2016-07-20 06:56] Shakarang commented on #3
@jacobrosenthal ?

[2016-07-20 09:08] jacobrosenthal commented on #3
I presume your question is, have I looked at your fork yet? I havent and I havent got reports back from anyone else here either sadly. Have you looked at @eriihine's?

Ive got a nex5 here though in preparation but mainly Im working with @sandeepmistry to build tests around bindings layers so I can verify functionality (especially since Im not an android or java guy)

[2016-07-25 00:09] connected-jhuschilt opened #14 "RCTConvert.h file not found when building for release"
I am getting errors while building for release with the BLE library in Xcode. "RCTCONVERT+CBUUID.h cannot find the RCTConvert.h file, though it is installed (via npm install) in the react-native folder within node_modules. I have been able to resolve the error by changing the import of the file to the absolute path, then I get the same error for the rest of the imports.

Anyone else had this same

[2016-07-25 08:39] Shakarang commented on #3
@jacobrosenthal Yes it was it, sorry.

I've looked @eriihine's branch and it seems better than mine. I'm not specialised in Android so I may have some issues.

Do you think it will be available in the next weeks?

[2016-07-25 16:21] connected-jhuschilt commented on #14
The header search Path was different for Release than Debug. Redirected the search path to the node_modules folder like for Debug and everything builds fine!

[2016-07-25 16:21] #14 closed

[2016-07-25 16:32] jacobrosenthal commented on #3
Do I understand that you would prefer his merged over yours? Is there some features or anything about your branch that should be kept?

[2016-08-16 11:36] eriihine opened #16 ""Data must be a buffer" error from noble.js"
Run in to a error "data must be a buffer" after merging the latest changes from master branch to my project. The error happens when writing to a characteristic in iOS e.g.

someCharacteristic.write(new Buffer.from(data, "hex");
--> causes an error "data must be a buffer"

This is the same problem as described here:
https://github.com/sandeepmistry/noble/issues/388#issuecomment-214550333

And as de

[2016-08-19 16:28] kristojorg opened #17 "Turn on bluetooth to allow "App Name" to connect to accessories."
I am using this excellent library to connect with a heart rate monitor for workout recording. Unfortunately, when bluetooth is disabled the user gets this alert on every launch. I would rather handle the alert internally...

 I believe this is happening because the module initializes on app launch. Is there any way to initialize only when bluetooth is turned on, and if it is off, add a listener to

[2016-08-19 16:58] kristojorg commented on #17
I found the correct option and submitted a PR [#18](https://github.com/jacobrosenthal/react-native-ble/pull/18). Closing this issue.

[2016-08-19 16:58] #17 closed

[2016-08-19 17:55] #13 closed

[2016-09-08 16:57] franrios commented on #3
Is android support available yet?

[2016-09-08 17:03] jacobrosenthal commented on #3
In the forks seen here. We need testers.

On Thu, Sep 8, 2016 at 12:57 PM, Fran <notifications@github.com> wrote:

[2016-09-23 17:51] jacobrosenthal commented on #2
I have a PR in with preliminary deep shim support https://github.com/facebook/react-native/pull/9899 PRs and help wanted.

Also it seems like theres a lot of movement around [rn-nodeify](https://github.com/mvayngrib/rn-nodeify), a nifty hack rewriting files locally in order to get around fixing the react native packager. Ive favored this solution in the readmes for now while I continue to work on

[2016-09-23 23:25] jacobrosenthal commented on #3
I merged @eriihine's work for now as 1.0.7 and have a very simple example 'working' called advertisement_discovery. Im sure there are outstanding issues though, so please do try it.

[2016-09-23 23:26] jacobrosenthal commented on #16
With the 2 new examples Im not seeing this atm. Long termI think this is related to #2

[2016-09-23 23:26] #16 closed

[2016-11-20 17:23] danielcbit opened #21 "Using Noble on iOS trough react-native-ble"
I'm having some problems running react-native-ble and with the deep shim react-native-ble for noble.

My goal is to use the node-eddystone-beacon-scanner.

I tried using rn-nodeify as told but whenever I try to get an instance of noble directly I get unable to resolve bluetooth-hci-socket from noble/lib/hci-socket.

Has any one used this with iOS? Is it possible?

Also, the same code would work on

[2016-11-20 22:26] danielcbit commented on #21
Just one update, I managed to instantiate and use the eddystone-beacon-scanner package but I had to manually add "noble": "react-native-ble", in the package.json of eddystone-beacon-scanner.
The rn-nodeify shouldn't take care of this?

Steps I took:
Install react-native-ble
Install eddystone-beacon-scanner
Install rn-nodeify
run rn-nodeify
Change eddystone-beacon-scanner package.json manually and

[2016-12-02 10:48] MasterOfBacon opened #22 "Notify not working on Android"
Hello, the notify function doesn't seem to be included as a binding in bindings.android.js. Any reason for this? This API works fine with me in discovering services, characteristics and reading them, but trying to use the notify function gives me an error "undefined is not a function (evaluating 'this._bindings.notify(peripheralUuid,serviceUuid,characteristicUuid,notify)')". Using console.log(nobl

[2016-12-02 23:29] Cody-G-G opened #23 "state / stateChange [Android]"
I am a bit confused as to how state / stateChange work...I initially assumed that a stateChange event would be automatically emitted when the user enables / disables bluetooth, but this doesn't seem to be the case. I then thought I should check whether bluetooth is on or off (whenever I need it), and change the state + emit event myself (" noble.state = 'poweredOn; noble.emit('stateChange', 'power

[2016-12-05 17:35] Cody-G-G commented on #22
I am having the same issue.... Checking the code it does look like it's actually not included:

https://github.com/jacobrosenthal/react-native-ble/blob/master/bindings.android.js

Weird omission, I'm hoping for a response but probably will try hacking around in the meantime cause I really depend on it...

[2016-12-05 19:19] warrenronsiek opened #24 "this.RNBLE.getState is undefined"
Hi, I'm making an extremely simple react-native scene using react-native-ble:

[code]

This code is extremely similar to the advertisement discovery example. However, when I launch my app, I get the following error redscreen: `undefined is not an object (evaluating 'this.RNBLE.getState')`

Since the example app that does almost exactly the same thing works, I'm suspecting this has something to do

[2016-12-05 20:12] Cody-G-G commented on #22
btw there's actually a pull request for it, just hasn't been accepted yet:

https://github.com/jacobrosenthal/react-native-ble/pull/20

[2016-12-05 20:16] warrenronsiek commented on #24
Nevermind. Forgot to link library. :facepalm:

[2016-12-05 21:22] warrenronsiek commented on #24
For anyone else who runs into this, you first need to link the library as described under the install section of the Docs. Second, you need to edit your plist to allow the app to scan things. You do this by following the described answer in [this stackoverflow](http://stackoverflow.com/questions/22988363/how-to-resolve-the-nsinternalinconsistencyexception-error-in-objective-c).

[2016-12-06 17:32] gilesvangruisen opened #25 "[discussion] Adding automatic Noble support via bindings"
Hey Jacob!!

Thanks so much for putting in the work to get Noble running within React Native. I'm super impressed by your work here implementing the bindings in both Obj-C and Java, as well as your [React Native PR](https://github.com/facebook/react-native/pull/9899/files) adding support for deep shimming.

I was thinking about the issues around deep shimming and poking the Noble lib itself, and I

[2016-12-06 17:40] rclai commented on #24
Lol, close this.

[2016-12-06 17:44] jacobrosenthal commented on #25
Hi
Love to see what you can do. Im fairly down on this project at the moment. Without tooling fixes it just doesnt have value.

Of note I found [these guys' bindings](https://github.com/Polidea/react-native-ble-plx) that look nice with tests and all. I could see wrapping their stuff with the noble api instead of what I have here.

[2016-12-06 17:44] jacobrosenthal commented on #24
@warrenronsiek Thanks for solving yourself and following up with the answer :)

[2016-12-06 17:44] #24 closed

[2016-12-06 17:47] #22 closed

[2016-12-06 17:47] jacobrosenthal commented on #22
Merged

[2016-12-06 18:13] xavicolomer opened #26 "ReferenceError: Buffer is not defined(…) "ReferenceError: Buffer is not defined"
Any idea why I might me receiving this error?

The code works fine on my laptop running the code on NodeJS and using noble library.

[code]

[2016-12-06 18:14] xavicolomer commented on #26
I solved this by adding:
`var Buffer = require('buffer').Buffer;`

And removing:
[code]

[2016-12-06 18:15] #26 closed

[2016-12-07 03:09] techniq commented on #25
Hi @jacobrosenthal and @gilesvangruisen.  I've been attempting to use [ble-serial](https://github.com/monteslu/ble-serial) with `react-native-ble` to shim it's use of `noble` but I've been running into various issues, which I think might be due to the deep shimming mentioned above.

Using `require('noble')` within `index.android.js` works fine but `require('noble')` used within `ble-serial` gives

[2016-12-09 11:55] Strainy opened #27 "Security?"
Hi there,

I haven't had the opportunity to give this a try yet, but will do so in the next few days, it looks great!

I'm building an application where data security between the peripheral and central devices will be quite important. Has there been any consideration around which SMPs should be implemented and how they could be leveraged via the API? I believe Noble has the concept of a "Secure Ch

[2016-12-11 17:59] gilesvangruisen commented on #25
Hey @techniq! That sounds like what I'm running into. I'd like to write a library for a specific BLE-enabled device that relies on Noble and is able to be used (though not exclusively) within a React Native project.

Currently, the biggest issues I'm running into are React Native's lack of deep-shimming, and React Native's lack of infrastructure for automatically swapping builtin node modules (lik

[2016-12-11 20:03] techniq commented on #25
Hey @gilesvangruisen!  I agree with everything you said 👍 .

While I work a great deal with React, I haven't used React Native extensively to add much to the discussion.  I do wish React Native had "official" support for Node's builtins libraries via dynamic shimming / etc, and packager supported dynamic imports like webpack's require.ensure (or the new `import()` that [webpack](https://twitter.co

[2016-12-13 19:59] warrenronsiek opened #28 "Not registering iBeacon advertisment"
Hi, I'm trying to use react-native-ble on an Iphone to detect IBeacons. When I do this using plain noble on my computer I get advertisements that look like this:

[code]

This is what I would expect. The first hex in the buffer corresponds to Apple's [company identifier](https://www.bluetooth.com/specifications/assigned-numbers/company-identifiers), and I verified that the uuid embedded in the buf

[2016-12-14 16:57] rclai commented on #28
Apple doesn't let you detect iBeacon advertisements using the `CBCentralManager`, you have to use a complete different [API](https://developer.apple.com/reference/corelocation). There's a React Native library that wraps that API already [here](https://github.com/frostney/react-native-ibeacon).

[2016-12-14 17:25] warrenronsiek commented on #28
Wow. I'll have to send Apple a card thanking them for keeping things simple and being so flexible...

If it is possible to expand 'react-native-ble' to cover the other API, then you can consider this a feature request. Otherwise you can close this.

[2016-12-14 23:19] warrenronsiek commented on #21
I installed in the manner you described and manually changed the package.json files before running the app. Everything worked. I removed the package.json changes you described, rebuilt and everything still works.

[2016-12-15 23:06] warrenronsiek commented on #21
Addendum: after waiting a bit, the app stopped working. Re-introducing the manual json changes solved the problem.

[2016-12-19 19:16] lukkiddd opened #29 "Writing a characteristic"
[code]

but I get an error

[code]

How should I do?

[2016-12-19 19:21] #29 closed

[2017-01-17 08:42] warrenronsiek opened #30 "Upgrade for compatibility with React-Native 0.40.0"
Hi, when I use react-native-ble in the latest versions of react-native I get the following errors when building with Xcode:

<img width="338" alt="screen shot 2017-01-17 at 12 15 26 am" src="https://cloud.githubusercontent.com/assets/9755852/22013309/394561fe-dc4d-11e6-8846-2f401ee020ae.png">

Expected:
Project compiles and runs without errors.

Steps to reproduce:
1) Run:
[code]
2) Open project a

[2017-01-19 14:40] nazrdogan commented on #30
+1

[2017-01-19 17:49] nazrdogan commented on #30
`react-native ugrade`   solve my problem.

[2017-01-26 05:32] tslater opened #31 "Unable to see characteristic information or read characteristics"
First off, awesome job!
I got connected without too much trouble!

The only issue is that I don't seem to get any information on characteristics:

![screen shot 2017-01-25 at 10 30 41 pm](https://cloud.githubusercontent.com/assets/449326/22320966/1c74a71c-e34e-11e6-80ac-c99e34a5c72f.png)

[2017-01-26 06:55] tslater commented on #31
You know what? I think it's returning my characteristics as services.

[2017-01-29 01:47] warrenronsiek commented on #30
`react-native upgrade` will remove the error. However, It will also overwrite the linking of the library. Unless I'm missing something, this is not a solution.

[2017-02-01 04:25] rclai commented on #30
For now just go into the iOS project files and edit the React library imports to the right format of 0.40.0.

[2017-02-01 20:36] mattotodd opened #33 "noble.state is `unsupported` on evey other launch (iOS)"
I find that on every other launch (if i use the react-native debug menu `Reload` or by killing the app and launching it again) on one load the state will be poweredOn and I'll get state updates if i turn on/off iOS bluetooth.

Then the next launch, state will be `unsupported` and I will get no state updates events.

It seems to flip flop, but every so often it will behave the same way on two subse

[2017-02-08 02:34] warrenronsiek commented on #33
In my experience, there is some time between when you `require` react-native-ble and the time when it is turned on. If react native starts operating on it (e.g. setting listeners etc.), when it isn't turned on you end up getting this behavior.

I have solved this problem by simply putting in a redundant `require` statement earlier in my app's signup/login funnel. By the time the user has navigated

[2017-02-28 16:05] mosesmc52 opened #34 "Build Fail with RN v .0.40.0 'sendDeviceEventWithName:body:' is deprecated"
I created a new project using RN v 0.40.0. Following, installed and linked the RN-blu library I get the errors below that **sendDeviceEventWithName:body** has been marked as deprecated.

Moses

/Users/rowvigor/git/c2test/node_modules/react-native-ble/RNBLE.m:62:32: warning: 'sendDeviceEventWithName:body:' is deprecated: Subclass RCTEventEmitter instead [-Wdeprecated-declarations]
  [self.bridge.ev

[2017-03-01 01:09] #34 closed

[2017-03-01 19:44] mosesmc52 opened #35 "ios simulator app crashing with react-native-ble library installed"
I created a RN .4 project with installing the react-native-ble library installed. I made all the updates to the included library. The entire app builds successfully.  However, everytime I launch the IOS simulator with the react-native-blu library linked to the simulator it crashes. I see no error messages. Any insight the reason this maybe be occurring.

Moses

[2017-03-01 20:19] warrenronsiek commented on #35
RNBLE isn't supposed to work with your simulator. It needs to have access to a real phone, your simulator cant access the bluetooth capacities of your computer.

[2017-03-01 20:38] connected-swu commented on #30
please merge https://github.com/jacobrosenthal/react-native-ble/pull/36
=P

[2017-03-01 21:20] mosesmc52 commented on #35
got it.

[2017-03-01 21:20] #35 closed

[2017-03-01 21:24] mosesmc52 opened #37 "Error with running App with react-native-ble on Android in debug mode"
Hi,

I'm attempting to run App on react-native-ble on my Adroid, but I recieve this error. How would I fix it?

AndroidManifest.xml:9:5-11:41 Error:
uses-sdk:minSdkVersion 16 cannot be smaller than version 21 declared in library

Suggestion: use tools:overrideLibrary="com.geniem.rnble" to force usage

[2017-03-02 00:28] warrenronsiek commented on #37
1) Does this only happen when you run in debug mode?
2) Assuming you aren't using an emulator (which wont work), it sounds like your phone's OS is outdated. Have you tried updating it?

[2017-03-03 15:05] mosesmc52 commented on #37
Yes, I'm not using the debug mode. I believe the reason is caused because my phone OS is outdated.

[2017-03-03 15:21] mosesmc52 opened #38 "Unable to resolve module 'url'"
I'm loading noble on the app.

var noble = require('noble');

I get this error, see attached screen shot. What do you suggest I do to fix it.

![screen shot 2017-03-03 at 9 19 30 am](https://cloud.githubusercontent.com/assets/5233925/23556539/91680bd4-fff2-11e6-8520-d8b701875eb3.png)

[2017-03-03 23:15] warrenronsiek commented on #38
How do you know this is a problem with RNBLE and not your app configuration? I checked the RNBLE dependencies, and the `url` module is not one of them. My guess is that unless you know that it is a problem with RNBLE, you are better off asking on StackOverflow.

[2017-03-04 05:19] mosesmc52 commented on #38
Ok

It could be an issue with the app configuration. I created a test app specifically to install and test **react-native-ble**. Here is my package.js file to display all the dependencies. On the main startup index page of the app I didn't change anything except include the noble library.

{
  "name": "rnble_test",
  "version": "0.0.1",
  "private": true,
  "scripts": {
    "start": "node node_mod

[2017-03-04 17:26] warrenronsiek commented on #38
Ah, RNBLE isn't compatible with React Native 0.42.0. Until [this pull](https://github.com/jacobrosenthal/react-native-ble/pull/36) is merged, you need to downgrade to 0.39.0.

[2017-03-04 17:38] jacobrosenthal commented on #38
Can anyone confirm that PR is good to go?

[2017-03-04 20:06] arahansen commented on #4
Hey everyone, the discussion on introducing peripheral support is of interest to me. Has there been any work done to this repo (or maybe another repo) to add peripheral support for React Native?

[2017-03-05 20:56] mosesmc52 commented on #37
So I purchased (this)[https://www.amazon.com/gp/product/B01N1KIKSA/ref=oh_aui_detailpage_o03_s00?ie=UTF8&psc=1] tablet

The OS it's using is Android 6.0. I also downgraded to React Native v0.38.0. After linking react-native-ble,  I get the same error:

AndroidManifest.xml:9:5-11:41 Error:
uses-sdk:minSdkVersion 16 cannot be smaller than version 21 declared in library

I can't image that the OS is

[2017-03-06 23:42] jacobrosenthal commented on #38
merged

[2017-03-06 23:42] #38 closed

[2017-03-06 23:42] jacobrosenthal commented on #33
merged

[2017-03-06 23:42] #33 closed

[2017-03-06 23:42] jacobrosenthal commented on #30
merged

[2017-03-06 23:42] #30 closed

[2017-03-06 23:44] jacobrosenthal commented on #28
The original goal behind this implementation was to track the noble api, what we need is a new (separate) bleno shim  ;)

[2017-03-14 00:05] #3 closed

[2017-03-14 00:08] jacobrosenthal opened #39 "Evaluate react-native-ble-plx native code"
The point of this library is to bring noble style bindings as I find that to be a stable, enjoyable api for bluetooth thats on node os's as well as web (and mobile web)

Our strong suit was never our native implementations. We dont have unit tests and many of us have touched that code at this point without a strong authorial voice.

Id love any feedback on [react-native-ble-plx](https://github.com

[2017-03-27 13:05] mosesmc52 opened #42 "noble.on is not a function"
So I'm trying to run the advertisement_discovery example on my iphone, but I see the error

**noble.on is not a function** error. Is there any idea why this error is occurring.

Thanks

[2017-03-31 18:39] warrenronsiek opened #43 "sendDeviceEventWithName:body is deprecated"
When building the project in Xcode, I get this deprecation message ~18 times. Everything still works, so not a severe problem *yet*.

RNBLE: 1.0.8
Xcode: 8.3
Base SDK: IOS 10.3
React-Native: 0.42.3
React: 15.4.2

<img width="255" alt="screen shot 2017-03-31 at 11 29 30 am" src="https://cloud.githubusercontent.com/assets/9755852/24564062/7676d61a-1605-11e7-9a09-2a76c9d72aee.png">

[2017-04-07 18:53] samouds opened #44 "noble characteristic write error : 'Invalid parameter not satisfying: data != nil'"
Hello,

Is there any working write example ?

I'm trying to use it and I had a first issue : buffer is not defined, so I added the shim.js before calling react-native-ble but I had this error :

[code]

Here is my code :
[code]

Any idea how to fix this please ?

[2017-04-09 22:31] jacobrosenthal commented on #2
Todo: Look at https://reactnatve.wordpress.com/2016/06/16/alias-in-react-native/

[2017-04-13 14:41] mosesmc52 commented on #38
I continued to experience this issue. I found the solution to be inserting this line into my package.js file.

    "browser": {
    "noble": "react-native-ble"
  }

[2017-04-17 16:21] brycejacobs commented on #39
@jacobrosenthal I've used noble in the past, and done a PR for bleno as well, and think there library is great as far as being spec compliant.

I wouldn't think it would be too hard to do something like plx and use RX to wrap the noble bindings, if your looking to get away from doing any native programming. However, I think it benefits us some to learn and roll a binding wrap. Reason being, if the

[2017-04-17 16:24] brycejacobs commented on #39
@jacobrosenthal If you want, I can take a shot at doing the IOS bindings, since I have experience doing native swift with the CoreBluetooth library, and see if we can come to a cleaner abstraction?

Your call.

[2017-04-17 17:52] jacobrosenthal commented on #39
Well, if we like the license ok, we can just fork their work and make it our own if it needs fundamental changes to fit our api.

The main thing is we dont have tests on any of the native, and different people are writing the ios and android so I cant eve be sure they act the same. Im working upstream on some basic tests on noble to make sure we align to that api properly.

[2017-04-18 14:35] brycejacobs commented on #39
That sounds good, let me take a look and see what this will take. I much prefer the noble surface API, and think even simplifying their work to just call out events could work fine. I think in their case, there's more effort to handle the BLE operations in swift land than what really needs to happen. From the looks of it, they're going to do a large refactor soon of their library API for the 4.0 r

[2017-05-03 23:24] vabalasu commented on #31
I've seen this too. The only way to get characteristics is to search for them by UUID. The "discoverAll" or "discover()" functions always return a zero-length array.

Additionally, standard GATT characteristics and services don't seem to be recognized by their short UUID's. Only 128-bit UUIDs work.

These problems appear to be Android only (I'm running Android 7.0), while iOS works fine.

[2017-05-03 23:32] vabalasu opened #49 "Cannot subscribe to multiple characteristics"
Hi. I'm trying to talk to an Arduino with Nordic BLE chip, but I cannot subscribe to multiple characteristics on Android 7.0. The code below successfully subscribed to the Battery characteristic, but not the Uuart (and no error message is displayed). If I reverse the order of subscription, putting UART before battery, then the UART gets successfully subscribed, but not the battery. The console lin

[2017-05-08 21:12] mosesmc52 opened #50 "Cannot read property 'getState' of undefined"
I'm trying to load **react-native-ble** within android using this require function.

var noble = require('noble');

I'm experiencing this error. Would you know what would be causing this error

Thanks,

Moses

![screen shot 2017-05-08 at 4 10 36 pm](https://cloud.githubusercontent.com/assets/5233925/25825533/e7084f14-3408-11e7-9a8e-bb513c5258fa.png)

[2017-05-08 21:37] #50 closed, assigned to nobody

[2017-05-10 19:38] mosesmc52 opened #51 "discoverIncludedServices not implemented for Android"
I'm implementing react-native-ble on android using the bleat library( https://github.com/thegecko/bleat/blob/master/dist/adapter.noble.js) . This library depends on the method  **discoverIncludedServices** which appears not be implemented. Is there any plans to implement this method? What can I do as an alternative?

[2017-05-31 13:22] nielsswinkels commented on #50
How did you solve it?

[2017-05-31 13:42] nielsswinkels commented on #42
Double check that the linking went right. I had the issue on android, and figured out the linking went wrong, because it was missing `new RNBLEPackage()` in the MainApplication.java. I'm not sure what the equivalent is in iOS.

And then use `import noble from 'react-native-ble';` in your index.ios.js that should work.

[2017-05-31 14:41] mosesmc52 commented on #42
I solved this issue a month ago. Including the missing RNBLEPackage in MainApplication.java was the solution.

[2017-05-31 16:46] keeslinp commented on #50
@nielsswinkels This is what happens when the native module isn't set up properly. If the problem is on android then go into MainApplication.java and add the necessary RNBLE calls. (You can check the example for how they did it). If it's iOS then you go to build properties for the project and add the libRNBLE.a file.

This is assuming you already ran `react-native link`. Otherwise start with that :

[2017-06-07 13:04] nielsswinkels opened #53 "Can't read descriptor value"
When I have discovered descriptors, I try to do `readValue` on the descriptor but it keeps giving me this error (on android). (Even though I can see the readValue function in __proto__ inside the object)

[code]

![capture](https://user-images.githubusercontent.com/5718354/26879705-6728bfc6-4b92-11e7-9401-f32a05cfd7db.JPG)

Am I doing something wrong or is this a bug?

[2017-06-26 14:35] nielsswinkels commented on #29
it would be nice if you could post your solution :)

[2017-07-19 01:45] jacobrosenthal commented on #2
"The React Native Packager has a built-in option, extraNodeModules, which seems to act as a module alias mapping. I couldn't find much information about this option, but here's the PR where it was added: facebookarchive/node-haste#69. Here's my rn-cli.config.js:"
https://github.com/philikon/ReactNativify/issues/4

[2017-08-01 07:40] surajit-bitcanny opened #54 "Can't get characteristics list of a service"
I want to get all characteristics list of a service. Every time I get empty characteristics array. I have used following ways to get characteristics list:

- `service.discoverCharacteristics(null, function(error, characteristics) {

            });`

- `service.once('characteristicsDiscover', (characteristics)=>{
     });
     service.discoverCharacteristics();`

Both of these approaches do not wo

[2017-08-02 05:34] surajit-bitcanny commented on #54
It is solved by setting minSdkVersion to 21 for Android.

[2017-08-10 14:00] nielsswinkels commented on #23
I have the same issue, that there is no stateChange event when you enable/disable bluetooth on android. I would say that's a bug?

[2017-08-14 07:14] surajit-bitcanny commented on #49
Have you found any solution for this?

[2017-08-14 19:52] vabalasu commented on #49
No, I never found a solution.

[2017-08-15 04:50] nielsswinkels commented on #54
Cool that you found a solution! [Here](https://github.com/jacobrosenthal/react-native-ble/issues/31) the solution was to search for specific characteristics by supplying the uuid.

[2017-08-15 04:51] nielsswinkels commented on #31
In the [linked issue](https://github.com/jacobrosenthal/react-native-ble/issues/54) a different solution is found: set the minimum sdk to 21 for android.

[2017-09-21 13:11] surajitsarkar19 commented on #49
Immediate characteristics subscription will not work. Try to put a delay between two subscriptions. Then it will work.

[2017-11-18 13:14] vshymanskyy opened #56 "Crash on iOS"
[code]
The project builds fine, but crashes upon startap in RNBLE module.
Even without js actually using it.
Android works fine!

[2017-11-18 22:11] vshymanskyy commented on #56
@jacobrosenthal is there any chance the library will be updated soon?
it looks like there's a bunch of PRs that could solve this (and other) issues.

[2017-11-18 23:07] jacobrosenthal commented on #56
I think it’s safe to say I’m disconnected from th project at this point. If
there’s a fork users like I’ll hand to that or add some people here

On Sat, Nov 18, 2017 at 2:11 PM Volodymyr Shymanskyy <
notifications@github.com> wrote:

[2017-11-27 04:01] lucasltv opened #57 "Eddystone protocol"
Hi everyone.

Anyone can help me to implement the Eddystone Scanner?

Im trying with nodeify, but no success yet.

A single step by step may be helpful... I cant run the app on the example folder.

Thanks!

[2017-12-15 20:42] lucasltv commented on #56
@vshymanskyy did you fix the problem?

[2017-12-19 12:36] vshymanskyy commented on #56
@lucasltv no, switched to https://github.com/innoveit/react-native-ble-manager for now

[2018-01-05 21:51] RoelVB commented on #29
I got this same issue, solved it by installing buffer
[code]

And then add this line at the top of `index.android.js` and `index.ios.js`
[code]

[2018-02-01 21:28] bitabs opened #58 "Different UUID format when running in my RN app and directly from noble/example/advertisement.js"
In my App, I'm trying to connect to an arduino using react-native-ble.

I've followed this [`step`](https://github.com/sandeepmistry/noble#windows)

When I run it in noble/example/advertisement.js, it returns the following:
<img width="928" alt="capture" src="https://user-images.githubusercontent.com/16179773/35704107-3878494c-0796-11e8-8b25-3d6b1d266b92.PNG">

But when I try to search it in my Ap

[2018-02-02 11:38] bitabs commented on #58
@jacobrosenthal I've also posted this on [`StackOverflow`](https://stackoverflow.com/questions/48581823/why-is-my-ble-service-uuid-different-in-android-and-iphone) for clarity

[2018-02-02 13:21] Chzzs commented on #58
Hi @NaseebullahSafi
Those are the full 128-bit-uuid not the shorthand version.
You can find more info [there](https://stackoverflow.com/questions/36212020/how-can-i-convert-a-bluetooth-16-bit-service-uuid-into-a-128-bit-uuid) if you are looking for a workaround.

Please let me know if you found any solution in this.

[2018-02-02 13:40] bitabs commented on #58
@Chzzs Really appreciate it, that's really handy. Can it be done in client side? In other words, as soon as I receive it I apply the calculation in js for example?

[2018-02-02 14:00] Chzzs commented on #58
I guess so...   This is basically the same service, why don't you listen for both UUID instead ?

[2018-02-02 14:16] bitabs commented on #58
@Chzzs Yup managed to do that. Thank you!

[2018-02-02 14:16] #58 closed, assigned to nobody

[2018-02-02 14:21] bitabs commented on #54
@nielsswinkels I'm having the same issue even though the minSdkVersion is set to 21.

I have it like this:

[code]

Where `this._rfduinoService` is:
<img width="1008" alt="capture" src="https://user-images.githubusercontent.com/16179773/35737795-ab11196e-0824-11e8-8d1c-1d7170b16a1b.PNG">

@jacobrosenthal  any ideas?

[2018-02-02 15:05] bitabs opened #59 "List of characteristics are empty in service"
I am trying to connect to my Arduino via BLE using this library. But for some reason the services array are always empty:

Here's my code
[code]

And this is the output:
<img width="1015" alt="capture" src="https://user-images.githubusercontent.com/16179773/35739733-82e901da-082a-11e8-8105-99adaf5ef65b.PNG">

[2018-02-02 15:08] bitabs commented on #59
Nevermind I restarted, and the services are shown but the characteristics are null
<img width="1016" alt="capture" src="https://user-images.githubusercontent.com/16179773/35739931-28a14a42-082b-11e8-8363-e6e84bea52c2.PNG">

But it is visible in BLE scanner from play store:
![capture](https://user-images.githubusercontent.com/16179773/35740128-bd14368a-082b-11e8-934f-1c2c9d0c4335.PNG)

[2018-03-28 09:06] #44 closed

[2018-03-31 09:24] rikardwissing commented on #4
I'm also interested in peripheral support for react native

[2018-09-22 16:03] monteslu opened #60 "Use Polidea's BLE for android and iOS under the hood"
https://github.com/Polidea/RxAndroidBle

https://github.com/Polidea/RxBluetoothKit

They seem to be maintained and work well enough.

Have this library make the noble shim on top of those

[2018-09-25 23:55] jacobrosenthal commented on #2
Another day another set of options. I found https://github.com/tleunen/babel-plugin-module-resolver which should allow something like
[code]

However in practice it also recursively rewrites react-native-ble itself so the noble/with-bindings becomes react-native-ble/with-bindings ...
It doesnt have an includes or excludes like say webpack https://github.com/tleunen/babel-plugin-module-resolver/iss

[2018-09-26 00:21] jacobrosenthal commented on #2
Oh odd.. you actually dont need any of the metro/react-native key stuff in either project, itll automatically pick up the bindings because noble doesnt specify an extension here
https://github.com/noble/noble/blob/c4cd18a7a429bb832f6c4ca793be3faf9af884e9/index.js#L2

[2020-03-17 12:35] tal987 opened #61 "How to advertise?"
Hi, is that possible to advertise? (that other device can discover my device)
if not can you please explain me why? do you think there are other libraries which able to do that or we can't do it right now with react native?

Thank you